# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# Data
data/01_raw/
data/02_interim/

# macOS
.DS_Store

# Logs
logs/

# Model checkpoints
models/checkpoints/

